<div fxLayout="column" fxLayoutAlign="space-evenly space-evenly" fxFlex="100">
  <form [formGroup]='noteform' (ngSubmit)='Submitdata()'>
  <div fxLayout="row" fxLayoutAlign="start stretch">
    <mat-form-field  >
      <mat-label>Title</mat-label>
      <input type="text" matInput formControlName='title' />
    </mat-form-field>
  </div>
  <div fxLayout="row" fxLayoutAlign="start stretch">
    <mat-form-field appearance="outline" style="width: 100%;">
      <mat-label> Note</mat-label>
      <textarea matInput style="height: 100px;" formControlName='notes'> </textarea>
    </mat-form-field>
  </div>
  <div fxLayout="row" fxLayoutAlign="center stretch">
    <button type="submit" mat-button class="submit-color">Create</button>
  </div>
</form>
</div>
